<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div style="text-align: center; display: flex; justify-content: center; align-items:center">
      <div style="max-width: 70%">
        <p>
          I am a skilled engineer specializing in product design, offering a range of professional services: CAD Solutions, 3D Printing and Mechanical Engineering Consulting. <br>
          From concept to final product, I am committed to delivering high-quality solutions tailored to your needs.
        </p>
      </div>
    </div>
  </div>
</section>
